@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color_1: #0d53a0;
    --color_2: #000;
    --color_3: #fff;
    --color_4: #222222;
    --color_5: #eee;
    --color_6: #f5f5f5;
    --color_7: #0f0f0f;
    --color_text: #777;
    --border_header: rgba(238, 238, 238, 0.192);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}
body a {
    text-decoration: none;
}
body li {
    list-style: none;
}
body input {
    box-shadow: none;
    outline: 0;
}
body p {
    margin-bottom: 0;
}

/* ------------BTN GLOBAL------------------- */
.btn_global_content {
    display: flex;
    align-items: center;
}
.btn_global_content .btn_global {
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    padding: 20px;
}
.btn_global_content:hover span { 
    transform: rotate(180deg);
}
.btn_global_content .primary {
    width: 20px;
    height: 20px;
    padding: 5px;
    font-size: 15px;
    background-color: var(--color_4);
    display: flex;
    align-items: center;
    color: var(--color_3);
    justify-content: center;
    margin-left: -10px;
    font-size: 10px;
    transition: 0.5s;
}
.btn_global_content .secundary {
    width: 20px;
    height: 20px;
    padding: 5px;
    font-size: 15px;
    background-color: var(--color_1);
    display: flex;
    align-items: center;
    color: var(--color_3);
    justify-content: center;
    margin-left: -10px;
    font-size: 10px;
    transition: 0.5s;
}

/* ------------HEAD GLOBAL------------------- */
.head_global {
    width: 100%;
    text-align: center;
}
.head_global img {
    margin-bottom: 10px;
}
.head_global .subtitle_global {
    font-size: 15px;
    font-weight: 600;
    color: var(--color_1);
    margin-bottom: 10px;
}
.head_global .title_global {
    margin: auto;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 10px;
}
.head_global .paragraph_global {
    width: 650px;
    margin: auto;
    font-size: 15px;
    line-height: 25px;
    color: var(--color_text);
}

/* ------------ESTILOS HEADER--------------- */
.header {
    width: 100%;
    border-bottom: 1px solid var(--border_header);
    position: absolute;
    z-index: 99;
    top: 0;
    background-color: #0000004a;;
}
.header .content_header {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .content_header .left_header {
        display: flex;
        gap: 20px;
        align-items: center;
    }
    .left_header .logo_header {
        display: flex;
    }
        .left_header .logo_header a img {
            width: 150px;
        }
        .left_header .menu_header {
            display: flex;
        }
        .left_header .menu_header nav {
            display: flex;
            gap: 15px;
            padding: 0px 20px;
        }
            .menu_header nav li .item_menu {
                font-size: 13px;
                font-weight: 600;
                color: var(--color_3);
                transition: 0.4s;
            }
            .menu_header nav li .item_menu:hover {
                color: var(--color_text);
            }
    .content_header .right_header {
        display: flex;
        align-items: center;
        border-left: 1px solid var(--border_header);
    }
        .right_header .contact a {
            display: flex;
            align-items: center;
            gap: 15px;
            padding: 0px 20px;
        }
            .contact a .call_icon i {
                font-size: 25px;
                color: var(--color_3);
            }
            .contact a .call_number .call_slog {
                font-size: 13px;
                color: var(--color_3);
            }
            .contact a .call_number .number_1 {
                font-size: 13px;
                color: var(--color_3);
            }
        .right_header .log_header {
            display: flex;
            align-items: center;
        }
            .log_header .item_log {
                border-left: 1px solid var(--border_header);
            }
            .log_header .item_log_menu {
                background-color: var(--color_1);
            }
            .log_header .item_log a i{
                font-size: 25px;
                color: var(--color_3);
                padding: 25px;
                transition: 0.3s;
            }
            .log_header .item_log a i:hover {
                background-color: rgba(255, 255, 255, 0.199);
            }
            .log_header .item_log a .icon_menu {
                color: var(--color_3);
            }

/* -------------------HEAD_SINGLE------------------ */
.head_single {
    width: 100%;
    background-image: url(../img/heading001-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    clip-path: polygon(0% 0%, 150% 0%, 85% 100%, 0% 85%);
}
.head_single .content_single {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.418);
    padding: 150px 0px;
}
    .content_single .container_single {
        width: 100%;
        max-width: 1140px;
        margin: auto;
    }
    .container_single .subtitle_sg {
        font-size: 13px;
        font-weight: 700;
        color: var(--color_1);
    }
    .container_single .title_sg {
        font-size: 45px;
        font-weight: 800;
        color: var(--color_3);
        margin-bottom: 20px;
    }
    .container_single .migas_pan {
        display: flex;
        align-items: center;
    }
        .migas_pan .item_migas {
            font-size: 13px;
            color: var(--color_3);
        }
        .migas_pan .item_sg {
            font-size: 13px;
            color: var(--color_text);
        }
        .migas_pan .separed {
            font-size: 13px;
            color: var(--color_3);
            margin: 0px 10px;
        }

/* -------------------COVER------------------------ */
.cover {
    width: 100%;
    clip-path: polygon(0% 0%, 150% 0%, 87% 100%, 0% 90%);
}
.cover .content_cover {
    display: flex;
    align-items: center;
    width: 100%;
}
    .content_cover .slider_cover {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .slider_cover .card_slider {
        display: flex;
        width: 100%;
    }
        .card_slider .img_card {
            position: relative;
            width: 100%;
            height: 600px;
            display: flex;
        }
            .img_card img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: flex;
            }
        .card_slider .container_card {
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgb(0,0,0);
            background: linear-gradient(270deg, rgba(0,0,0,0.9136029411764706) 8%, rgba(0,0,0,0.8127626050420168) 25%, rgba(0,0,0,0.6839110644257703) 45%, rgba(0,0,0,0.4990371148459384) 67%, rgba(0,0,0,0.09567577030812324) 86%);
            display: flex;
            align-items: center;
        }
            .container_card .content_card {
                width: 100%;
                max-width: 1140px;
                margin: auto;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                gap: 30px;
            }
                .content_card .text_card {
                    width: 500px;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }
                    .text_card .subtitle_card {
                        font-size: 15px;
                        font-weight: 700;
                        color: var(--color_text);
                    }
                    .text_card .title_card {
                        font-size: 25px;
                        font-weight: 800;
                        color: var(--color_3);
                    }
                    .text_card .paragraph_card {
                        font-size: 20px;
                        color: var(--color_3);
                    }
                .content_card .bot_card {
                    width: 500px;
                    display: flex;
                    align-items: center;
                    gap: 20px;
                }
                    .bot_card .button_card .btn_read {
                        background-color: var(--color_1);
                        color: var(--color_3);
                        transition: 0.3s;
                        padding: 20px 30px;
                    }
                    .bot_card .button_card:hover .primary {
                        background-color: var(--color_1);
                    }
                    .bot_card .button_card:hover .secundary {
                        background-color: var(--color_4);
                    }
                    .bot_card .button_card .btn_read:hover {
                        background-color: var(--color_4);
                    }
                    .bot_card .button_card .btn_motorcycles {
                        background-color: var(--color_4);
                        color: var(--color_3);
                        transition: 0.3s;
                        padding: 20px 30px;
                    }
                    .bot_card .button_card .btn_motorcycles:hover {
                        background-color: var(--color_1);
                    }
        .slider_cover .owl-dots {
            position: absolute;
            bottom: 120px;
            right: 230px;
            text-align: center;
        }
        .slider_cover .owl-dot {
            height: 15px;
            width: 15px;
            border-radius: 50px;
            cursor: pointer;
            outline: none;
            margin: 0 5px;
            border: 2px solid var(--color_3)!important;
            transition: 0.3s;
        }
        .slider_cover .owl-dot.active {
            background-color: var(--color_3)!important;
        }
        .owl-theme .owl-dots .owl-dot span {
            display: none;
        }
    .filter_home {
        position: absolute;
        display: flex;
        z-index: 2;
        padding-left: 14%;
    }
    .filter_home_pos {
        position: inherit;
        margin:50px auto;
    }
        .filter_home .content_filter {
            width: 300px;
            background-color: rgba(0, 0, 0, 0.322);
            border-radius: 10px;
            padding: 30px;
        }
        .filter_home .content_filter_mobile {
            width: 90%;
            background-color: var(--color_3);
            border: 1px solid var(--color_5);
        }
            .content_filter .head_filter {
                width: 100%;
                margin-bottom: 20px;
            }
            .content_filter .head_filter .title_filter {
                font-size: 25px;
                font-weight: 700;
                color: var(--color_3);
            }
            .content_filter .head_filter .title_filter_black {
                color: var(--color_2);
            }
            .content_filter .body_filter {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 15px;
            }
            .content_filter .body_filter {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 15px;
            }
                .body_filter .selector {
                    background-color: rgba(0, 0, 0, 0.411);
                    border: 1px solid var(--color_4);
                    color: var(--color_3);
                    font-size: 15px;
                    font-weight: 600;
                    box-shadow: none;
                }
                .body_filter .sel_mobile {
                    background-color: var(--color_3);
                    border: 1px solid var(--color_5);
                    color: var(--color_2);
                    font-size: 15px;
                    font-weight: 600;
                    box-shadow: none;
                }
            .content_filter .bot_filter {
                width: 100%;
            }
                .bot_filter .button_filter .btn_filter {
                    width: 100%;
                    background-color: var(--color_1);
                    color: var(--color_3);
                }
                .bot_filter .button_filter .btn_filter {
                    width: 100%;
                    background-color: var(--color_1);
                    color: var(--color_3);
                    transition: 0.4s;
                }
                .bot_filter .button_filter .btn_filter:hover {
                    background-color: var(--color_4);
                }
                .bot_filter .button_filter:hover .primary {
                    background-color: var(--color_1);
                }
            

/* --------------------WRAPPER----------------- */
.wrapper {
    width: 100%;
}
.wrapper .content_wrapper {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    gap: 30px;
    padding: 50px 0px;
}
    .content_wrapper .img_wrapper {
        width: 100%;
    }
    .content_wrapper .img_wrapper img {
        width: 100%;
    }
    .content_wrapper .text_wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .text_wrapper .top_wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 30px;
    }
        .top_wrapper .subtitle_wrapper {
            font-size: 15px;
            font-weight: 700;
            color: var(--color_1);
        }
        .top_wrapper .title_wrapper {
            width: 600px;
            font-size: 40px;
            font-weight: 700;
        }
        .top_wrapper .paragraph_wrapper {
            font-size: 15px;
            line-height: 25px;
            color: var(--color_text);
        }
    .text_wrapper .mid_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-bottom: 10px;
    }
        .mid_wrapper .card_sm {
            display: flex;
            align-items: center;
            gap: 20px;
        }
            .card_sm .icon_w img {
                width: 60px;
                padding: 10px;
                background-color: var(--color_5);
                border-radius: 50px;
            }
            .card_sm .text_w .title_w {
                font-size: 15px;
                font-weight: 700;
                margin-bottom: 10px;
            }
            .card_sm .text_w .paragraph_w {
                font-size: 13px;
                color: var(--color_text);
            }
    .text_wrapper .bot_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        padding: 20px;
        background-color: var(--color_3);
        margin-left: -100px;
    }
        .bot_wrapper .img_bot_w img {
            width: 100%;
            height: 237px;
            object-fit: cover;
        }

/* -------------------BACK CARDS---------------------- */
.back_cards {
    width: 100%;
    background-image: url(../img/body-type-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    clip-path: polygon(0% 0%, 300% 0%, 20% 100%, 0% 90%);
}
.cards_type {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.705);
}
.cards_type .carousel_brands {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    
    padding: 70px 0px 150px 0px;
}
    .carousel_brands .card_moto {
        background-color: var(--color_3);
        border-bottom: 3px solid var(--color_1);
        transition: 0.3s;
    }
    .card_moto:hover {
        background-color: var(--color_1);
    }
    .card_moto:hover .title_moto {
        color: var(--color_3);
    }
    .card_moto:hover a .button_type span {
        color: var(--color_3);
    }
    .card_moto:hover a .icon_moto img {
        opacity: 1;
    }
        .card_moto a {
            width: 100%;
            height: 300px;
            display: flex;
            flex-direction: column;
            padding: 20px;
            gap: 15px;
        }
        .card_moto a .title_moto {
            font-size: 20px;
            font-weight: 700;
            color: var(--color_2);
        }
        .card_moto a .button_type {
            text-align: right;
        }
        .card_moto a .button_type span {
            font-size: 15px;
            color: var(--color_1);
        }
        .card_moto a .button_type span i {
            margin-left: 10px;
        }
        .card_moto a .icon_moto {
            margin-top: auto;
        }
        .card_moto a .icon_moto img  {
            width: 100%;
            opacity: 0.3;
        }
    .carousel_brands .owl-dots.disabled,
    .carousel_brands .owl-nav.disabled {
        display: inline-flex;
    }
    .carousel_brands .owl-dots {
        bottom: 50px;
        left: 0px;
    }
    .carousel_brands .owl-dot {
        height: 15px;
        width: 15px;
        border-radius: 50px;
        cursor: pointer;
        outline: none;
        margin: 0 5px;
        border: 2px solid var(--color_3)!important;
        transition: 0.3s;
    }
    .carousel_brands .owl-dot.active {
        background-color: var(--color_3)!important;
    }
    .carousel_brands .owl-theme .owl-dots .owl-dot span {
        display: none;
    }

/* -------------------COL_MOTOR------------------ */
.container_motos {
    width: 100%;
}
.container_motos .content_motos {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    padding: 50px 0px;
}
    .content_motos .row_motos {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        padding: 50px;
    }
    .item_moto {
        width: 100%;
    }
    .item_moto_mg {
        margin-bottom: 20px;
    }
    .item_moto a {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
        .item_moto a:hover {
            box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
        }
        .item_moto a:hover .top_item{
            background-color: var(--color_3);
        }
        .item_moto a:hover .mid_item .absolute_mid{
            opacity: 1;
        }
        .item_moto a:hover .bot_item {
            background-color: var(--color_3);
        }
        .item_moto a .top_item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background-color: var(--color_6);
            transition: 0.3s;
        }
            .top_item .type_moto .title_moto {
                font-size: 13px;
                font-weight: 800;
                color: var(--color_2);
            }
            .top_item .type_moto .power {
                font-size: 11px;
                color: var(--color_text);
            }
            .top_item .price_moto .price_ {
                font-size: 15px;
                font-weight: 800;
                color: var(--color_1);
            }
        .item_moto a .mid_item {
            width: 100%;
            height: 250px;
            display: flex;
            flex-direction: column;
            position: relative;
            background-color: var(--color_5);
        }
        .item_moto a .mid_item_min {
            height: 100px;
        }
            .mid_item img {
                width: 90%;
                height: auto;
                margin: auto;
                object-fit: cover;
                position: relative;
            }
            .mid_item .img_blog {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: relative;
            }
            .mid_item .absolute_mid {
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.479);
                opacity: 0;
                transition: 0.5s;
            }
                .absolute_mid i {
                    color: var(--color_3);
                    font-size: 30px;
                }
        .item_moto .bot_item {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            background-color: var(--color_6);
            padding: 20px;
            transition: 0.3s;
        }
        .item_moto .bot_item_blog {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            transition: 0.3s;
        }
            .bot_item .subitem_sp {
                text-align: center;
                border-right: 1px solid #d2d2d2;
            }
            .bot_item .subitem_sp_left {
                width: 100%;
                height: 170px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                text-align: left;
                border-right: 0;
            }
            .bot_item .subitem_sp:last-child {
                border-right: 0px;
            }
                .subitem_sp .type_sp {
                    font-size: 15px;
                    font-weight: 800;
                    color: var(--color_2);
                }
                .subitem_sp .type_sp_sub {
                    font-size: 12px;
                    color: var(--color_text);
                    margin-bottom: 0;
                }
    .content_motos .bot_motos_ {
        padding: 20px 0px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
        .btn_models:hover .primary {
            background-color: var(--color_1);
        }
        .bot_motos_ .btn_view {
            width: auto;
            background-color: var(--color_1);
            color: var(--color_3);
            transition: 0.3s;
        }
        .bot_motos_ .btn_view:hover {
            background-color: var(--color_4);
        }

.motorcycle {
    width: 100%;
}
.motorcycle .carousel_motorcycle {
    width: 100%;
    max-width: 1140px;
    margin: auto;
}
    .carousel_motorcycle .owl-dots.disabled,
    .carousel_motorcycle .owl-nav.disabled {
        display: inline-flex;
    }
    .carousel_motorcycle .owl-prev,
    .carousel_motorcycle .owl-next {
        background-color: transparent !important;
        position: absolute;
        top: 200px;
        transition: 0.3s;
    }
    .carousel_motorcycle .owl-next {
        right: -70px;
    }
    .carousel_motorcycle .owl-prev {
        left: -70px;
    }
    .carousel_motorcycle .owl-prev span,
    .carousel_motorcycle .owl-next span {
        font-size: 30px;
        width: 40px;
        height: 40px;
        padding-bottom: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color_4);
        border: 1px solid var(--color_text);
        color: var(--color_text) !important;
        background-color: var(--color_6) !important;
        border-radius: 50%;
        transition: 0.2s;
    }
    .carousel_motorcycle .owl-prev span:hover,
    .carousel_motorcycle .owl-next span:hover {
        background-color: var(--color_5) !important;
        color: var(--color_4) !important;
    }

/* -------------------INFO_IMAGEN------------------------ */
.info_img {
    width: 100%;
}
.info_img .content_info_img {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    padding: 50px 0px;
}
.container_info_img {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
}
.container_info_img .img_ {
    display: flex;
}
.container_info_img .img_second_ord {
    display: flex;
    margin-left: auto;
    order: 2;
}
.container_info_img .img_ img {
    width: 100%;
}
.container_info_img .info_ {
    width: 100%;
    display: flex;
    flex-direction: column;
}
    .info_ .top_info {
        width: 100%;
        margin-bottom: 20px;
    }
        .top_info .subtitle_info {
            font-size: 15px;
            font-weight: 600;
            color: var(--color_1);
            margin-bottom: 10px;
        }
        .top_info .title_info {
            font-size: 35px;
            font-weight: 800;
            margin-bottom: 10px;
        }
        .top_info .paragraph_info {
            font-size: 15px;
            line-height: 25px;
            color: var(--color_text);
            margin-bottom: 10px;
        }
    .info_ .img_info {
        width: 100%;
        margin-bottom: 20px;
    }
    .info_ .img_info img {
        width: 100%;
    }
    .info_ .bot_info {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        margin-bottom: 20px;
    }
        .bot_info .item_info {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;
        }
            .item_info .img_item_info {
                width: 80px;
                padding: 15px;
                border-radius: 50px;
                background-color: var(--color_5);
            }
            .item_info .img_item_info img {
                width: 100%;
            }
            .item_info .text_item_info .title_item_info {
                font-size: 13px;
                font-weight: 400;
                color: var(--color_2);
            }
    .info_ .bot_link_info {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
        .bot_link_info .button_info:hover .primary {
            background-color: var(--color_1);
        }
        .bot_link_info .button_info .btn_moto {
            background-color: var(--color_1);
            color: var(--color_3);
            transition: 0.3s;
        }
        .bot_link_info .button_info .btn_moto:hover {
            background-color: var(--color_4);
        }
        .bot_link_info .link_moto_sg {
            font-size: 17px;
            font-weight: 600;
            color: var(--color_4);
            border-bottom: 3px solid var(--color_1);
            transition: 0.3s;
        }
        .bot_link_info .link_moto_sg:hover {
            color: var(--color_1); 
        }
        .bot_link_info .link_moto_sg:hover i {
            font-size: 17px;
            padding: 0px 5px;
            color: var(--color_1);
            display: inline-flex;
            transition: 0.3s;
        }
        .bot_link_info .link_moto_sg i{
            font-size: 0px;
            color: var(--color_3);
            margin-right: 10px;
            transition: 0.3s;
        }
/* -------------------------BUILDER_VIDEO------------------- */
.builder_video {
    width: 100%;
}
.builder_video .content_builder {
    width: 100%;
    max-width: 80%;
    margin-left: auto;
    display: flex;
    padding: 50px 0px;
}
.content_builder .relative_builder {
    width: 100%;
    height: 700px;
    position: relative;
}
    .relative_builder img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        clip-path: polygon(0% 0%, 270% 0%, 80% 100%, 0% 85%);
    }
.content_builder .container_builder {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 80px 0px 200px 0px;
}
    .container_builder .box_content {
        width: 600px;
        background-color: var(--color_3);
        border-bottom: 3px solid var(--color_1);
        padding: 80px;
        display: flex;
        flex-direction: column;
        margin-left: -150px;
        z-index: 50;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    }
        .box_content .text_box {
            width: 100%;
        }
        .box_content .text_box .title_box {
            font-size: 25px;
            font-weight: 800;
            color: var(--color_2);
            margin-bottom: 20px;
        }
        .box_content .text_box .paragraph_box {
            font-size: 13px;
            font-weight: 400;
            color: var(--color_1);
            margin-bottom: 30px;
        }
        .box_content .img_box_sm {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 30px;
        }
        .box_content .img_box_sm img{
            width: 100%;
        }
    .container_builder .icon_video {
        width: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
        .icon_video .link_video {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 3px solid var(--color_3);
            font-size: 50px;
            color: var(--color_3);
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.5s;
        }
        .icon_video .link_video:hover {
            background-color: rgba(0, 0, 0, 0.459);
            color: var(--color_1);
        }
        .icon_video .descrip_video {
            font-size: 15px;
            color: var(--color_3);
        }



/* -------------------------LOGOTYPES----------------------- */
.logotypes {
    width: 100%;
    background-color: var(--color_1);
}
.logotypes .content_logos {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    padding: 50px 0px;
}
    .content_logos .carousel_logos {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .content_logos .item_logo {
        padding: 0px 20px;
        display: flex;
        align-items: center;
    }
    .content_logos .item_logo img {
        width: 100%;
        height: 30px;
        object-fit: contain;
        transition: 0.3s;
        display: flex;
        margin: 0;
    }

/* -------------------------EMAIL_SUBSCRIBE-------------- */
.back_form_fond {
    width: 100%;
    background-color: var(--color_1);
}
.back_form  {
    width: 100%;
    clip-path: polygon(10% 0%, 100% 20%, 100% 100%, -60% 100%);
    background-image: url(../img/mailchimp-bg-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.form_subscribe {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.336);
}
.form_subscribe .content_form {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 150px 0px 80px 0px;
}
    .content_form .info_form {
        width: 100%;
    }
        .info_form .subtitle_form {
            font-size: 15px;
            font-weight: 600;
            color: var(--color_1);
            margin-bottom: 5px;
        }
        .info_form .title_form {
            font-size: 35px;
            font-weight: 800;
            color: var(--color_3);
        }
    .content_form .form_email {
        width: 100%;
        padding-bottom: 0;
        margin-bottom:0;
    }
        .form_email form {
            display: flex;
            gap: 5px;
            align-items: center;
        }
        .form_email form input[type="email"]{
            width: 100%;
            padding: 20px;
            font-size: 13px;
            border: none;
            color: var(--color_text);
        }
        form input[type="email"]::placeholder {
            font-size: 13px;
            color: var(--color_text);
        }
        .form_email .btn_subscribe .btn_form {
            background-color: var(--color_1);
            color: var(--color_3);
        }
        .btn_subscribe .btn_form {
            background-color: var(--color_1);
            color: var(--color_3);
            transition: 0.3s;
        }
        .btn_subscribe:hover .btn_form {
            background-color: var(--color_3);
            color: var(--color_4);
        }
        .btn_subscribe:hover span {
            background-color: var(--color_1);
        }

/* -------------------------FOOTER----------------------- */
.footer {
    width: 100%;
    background-color: var(--color_7);
}
.footer .content_footer {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    padding: 50px 0px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.3fr;
}
    .content_footer .left_footer {
        display: flex;
        flex-direction: column;
    }
        .left_footer .img_footer {
            margin-bottom: 30px;
        }
        .left_footer .img_footer img {
            width: 150px;
        }
        .left_footer .social_footer .red_social {
            font-size: 30px;
            color: var(--color_3);
            margin-right: 10px;
        }
    .content_footer .col_footer {
        display: flex;
        flex-direction: column;
    }
        .col_footer .head_footer {
            margin-bottom: 20px;
        }
        .col_footer .head_footer .title_col {
            font-size: 20px;
            font-weight: 700;
            color: var(--color_3);
        }
        .col_footer .items_footer {
            display: flex;
            flex-direction: column;
        }
        .col_footer .items_footer .link_footer{
            font-size: 15px;
            color: var(--color_text);
            margin-bottom: 10px;
        }
        .col_footer .items_footer .link_footer i {
            color: var(--color_3);
            margin-right: 5px;
        }
        .col_footer .items_footer .zone {
            margin-bottom: 10px;
        }
            .items_footer .zone .local {
                font-size: 15px;
                font-weight: 600;
                color: var(--color_3);
            }
            .items_footer .zone .email {
                font-size: 13px;
                color: var(--color_text);
            }

/* -------------------SITE_CONTENT------------------ */
.site_ {
    width: 100%;
}
.site_ .content_site {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    padding: 100px 0px;
}
.site_ .content_site_reverse {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.content_site .sidebar_left_sticky {
    width: 100%;
}
.sidebar_left_sticky .sidebar_left {
    width: 100%;
    position: sticky;
    top: 50px;
}
.sidebar_left .head_real {
    width: 100%;
    margin-bottom: 20px;
}
.sidebar_left .head_real .title_real {
    font-size: 25px;
    font-weight: 700;
    color: var(--color_2);
}
.content_site .sidebar_right {
    width: 100%;
    margin-left: auto;
    order: 2;
    position: sticky;
    top: 50px;
}
.sidebar_left .top_sidebar {
    width: 100%;
    padding: 30px;
    background-color: var(--color_1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid var(--color_2);
    gap: 20px;
}
    .top_sidebar .title_sidebar {
        display: flex;
        flex-direction: column;
    }
        .title_sidebar .title_top {
            font-size: 16px;
            font-weight: 700;
            color: var(--color_3);
            margin-bottom: 0;
        }
        .title_sidebar .title_top_md {
            font-size: 30px;
        }
        .title_sidebar .subtitle_top {
            font-size: 10px;
            color: var(--color_3);
            margin-bottom: 0;
        }
    .top_sidebar .img_top img {
        width: 100px;
    }
.sidebar_left .main_sidebar {
    border: 1px solid var(--color_5);
    display: flex;
    flex-direction: column;
}
    .main_sidebar .wrap_filter {
        width: 100%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-bottom: 1px solid var(--color_5);
    }
        .wrap_filter .form-select {
            border-radius: 3px;
            padding: 15px;
            font-size: 13px;
            box-shadow: none;
            outline: 0;
        }
        .wrap_filter .top_wrap {
            width: 100%;
        }
        .wrap_filter .top_wrap .title_wrap {
            font-size: 20px;
            font-weight: 800;
            color: var(--color_2);
            margin-bottom: 0;
        }
        .wrap_filter .top_wrap .subtitle_wrap {
            font-size: 13px;
            color: var(--color_text);
        }
        .wrap_filter .wrap_body {
            width: 100%;
        }
            .wrap_body .wrap_porcent {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 10px;
            }
                .wrap_porcent .porcent {
                    font-size: 15px;
                    font-weight: 600;
                }
            .wrap_body .range {
                width: 100%;
            }
            .wrap_body .range input[type="range"] {
                width: 100%;
                height: 3px;
                background-color: var(--color_1);
            }
        .box_shop {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .box_shop .box_price {
            width: 100%;
            padding: 10px 0px;
            border-bottom: 1px solid var(--color_5);
        }
        .box_shop .box_price .price_finish {
            font-size: 30px;
            font-weight: 700;
            color: green;
            margin-bottom: 0;
        }
        .box_shop .descrip_box {
            width: 100%;
            padding: 10px 0px;
            border-bottom: 1px solid var(--color_5);
        }
        .box_shop .descrip_box .paragraph_box {
            font-size: 17px;
        }
        .box_shop .type_box {
            width: 100%;
            padding: 10px 0px;
            border-bottom: 1px solid var(--color_5);
        }
        .box_shop .type_box .color_box {
            font-size: 20px;
            font-weight: 700;
            color: var(--color_2);
            margin-bottom: 10px;
        }
        .box_shop .type_box .items_colors {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 5px;
        }
        .box_shop .type_box .items_colors .item_color {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 1px solid var(--color_text);
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        .box_shop .type_box .items_colors .azul {
            background-color: #2218e0;
        }
        .box_shop .type_box .items_colors .gris {
            background-color: #969696;
        }
        .box_shop .type_box .items_colors .gris_grafito {
            background-color: #c1c1c1;
        }
        .box_shop .type_box .items_colors .rojo {
            background-color: #dd1818;
        }
        .box_shop .type_box .items_colors .verde {
            background-color: #469e33;
        }
        .box_shop .sku_descrip {
            width: 100%;
            padding: 10px 0px;
            border-bottom: 1px solid var(--color_5);
        }
        .box_shop .sku_descrip p {
            font-size: 17px;
        }
        .box_shop .bot_box {
            width: 100%;
            padding: 20px 0px;
        }
        .box_shop .bot_box .btn_box {
            font-size: 15px;
            font-weight: 600;
            color: var(--color_3);
            background-color: green;
            padding: 10px 30px;
            transition: 0.3s;
        }
        .box_shop .bot_box .btn_box:hover {
            background-color: var(--color_4);
        }
    .main_sidebar .bot_sidebar {
        width: 100%;
        text-align: center;
    }
        .bot_sidebar .btn_filter {
            width: 100%;
            font-size: 15px;
            font-weight: 700;
            background-color: var(--color_1);
            color: var(--color_3);
            display: flex;
            justify-content: center;
            padding: 10px 0px;
            transition: 0.3s;
        }
        .bot_sidebar .btn_filter:hover {
            background-color: var(--color_4);
        }
.content_site .container_right {
    width: 100%;
    display: flex;
    flex-direction: column;
}
    .container_right .shorting {
        width: 100%;
        border-bottom: 1px solid var(--color_5);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 20px;
    }
        .shorting .item_short {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            width: 50%;
        }
            .item_short .title_short {
                font-size: 15px;
                font-weight: 700;
                margin-bottom: 0;
            }
            .item_short .form-select {
                width: 60%;
                font-size: 15px;
                box-shadow: none;
                border-radius: 3px;
            }
    .container_right .container_items {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        padding: 30px 0px;
    }
    .container_right .top_moto {
        width: 100%;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid var(--color_5);
    }
    .container_right .top_moto .name_moto {
        font-size: 40px;
        font-weight: 800;
        color: var(--color_2);
        margin-bottom: 0;
    }
    .container_right .container_moto {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
        .container_moto .img_moto {
            width: 100%;
            margin-bottom: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid var(--color_5);
        }
        .container_moto .img_moto img {
            width: 100%;
            background-color: var(--color_5);
            border-radius: 20px;
        }
        .container_moto .descrip_vehicle {
            width: 100%;
            margin-bottom: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid var(--color_5);
        }
            .descrip_vehicle .title_descrip {
                font-size: 25px;
                font-weight: 700;
                color: var(--color_2);
                margin-bottom: 30px;
            }
            .descrip_vehicle .paragraph_descrip {
                font-size: 17px;
                color: var(--color_text);
            }
            .descrip_vehicle .paragraph_blog {
                font-size: 14px;
                color: var(--color_text);
                margin-bottom: 20px;
            }
            .descrip_vehicle .published {
                font-size: 13px;
                font-weight: 600;
            }
            .descrip_vehicle .published .widget_date {
                margin: 0px 10px;
                font-size: 13px;
                font-weight: 600;
            }
            .descrip_vehicle .published .widget_date i {
                color: var(--color_1);
                margin-right: 10px;
            }
        .container_moto .info_vehicle {
            width: 100%;
        }
        .info_vehicle .title_info_ve {
            font-size: 25px;
            font-weight: 700;
            color: var(--color_2);
            margin-bottom: 30px;
        }
        .info_vehicle .nav-tabs {
            width: 100%;
        }
            .nav-tabs .nav-item .nav-link {
                font-size: 14px;
                font-weight: 700;
                color: var(--color_2);
                padding: 5px 10px;
                transition: 0.3s;
            }
        .info-vehicle .tab-content {
            width: 100%;
        }
            .tab-content .tab-pane {
                width: 100%;
            }
                .tab-pane .list_info {
                    width: 100%;
                    padding: 20px;
                }
                .tab-pane .list_info .item_info {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 15px;
                    padding: 5px;
                    border-bottom: 1px dashed var(--color_5);
                }
                .tab-pane .list_info .item_info .type_bold {
                    font-weight: 600;
                    margin-right: 10px;
                }
                .tab-pane .list_info .item_info i {
                    color: var(--color_1);
                    margin-right: 10px;
                }
                .nav-tabs .nav-item.show .nav-link,
                .nav-tabs .nav-link.active {
                    background-color: var(--color_5);
                }
    .container_right .head_relations {
        width: 100%;
        padding: 20px 0px;
    }
        .head_relations .title_relations {
            font-size: 25px;
            font-weight: 700;
            color: var(--color_2);
        }


/* ---------------------BLOG---------------------------- */
.blog {
    width: 100%;
}
.blog .content_blog {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content_blog .container_blog {
    width: 100%;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 30px;
}
.content_blog .bot_motos_ {
    display: flex;
    justify-content: center;
}

/* ------------ERROR_404------------------ */
.error_layout {
    width: 100%;
}
.error_layout .content_error {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content_error .head_error {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
    .head_error img {
        width: 100px;
        margin-bottom: 20px;
    }
    .head_error .title_error {
        font-size: 40px;
        font-weight: 800;
        color: var(--color_2);
        margin-bottom: 0;
    }
    .head_error .paragraph_error {
        font-size: 15px;
        color: var(--color_text);
        margin-bottom: 0;
    }
.content_error .main_error {
    width: 100%;
    margin-bottom: 50px;
}
    .main_error form {
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
    }
    .main_error form input[type="search"]{
        width: 330px;
        padding: 20px;
        font-size: 13px;
        border: 1px solid var(--color_5);
        color: var(--color_text);
    }
    .main_error form input[type="search"]::placeholder {
        font-size: 13px;
        color: var(--color_text);
    }
    .main_error .btn_error .btn_form {
        background-color: var(--color_1);
        color: var(--color_3);
    }
        .btn_error .btn_form {
            background-color: var(--color_1);
            color: var(--color_3);
            transition: 0.3s;
        }
        .btn_error:hover .btn_form {
            background-color: var(--color_3);
            color: var(--color_4);
            border: 1px solid var(--color_4);
        }
        .btn_error:hover span {
            background-color: var(--color_1);
        }
.content_error .bot_error {
    width: 100%;
    text-align: center;
}
.content_error .bot_error .btn_back {
    font-size: 13px;
    font-weight: 600;
    color: var(--color_3);
    background-color: var(--color_1);
    padding: 10px 30px;
    transition: 0.3s;
}
.content_error .bot_error .btn_back:hover {
    background-color: var(--color_4);
}


/* -----------------OFFCANVAS DESKTOP---------- */
.offcanvas.offcanvas-end {
    width: 330px;
}
.offcanvas {
    background-color: var(--color_2);
}
.offcanvas-header {
    width: 100%;
    height: 50px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.offcanvas-header .btn-close {
    background-color: var(--color_1);
    padding: 0px;
    opacity: 1;
    border-radius: 0;
    display: flex;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    background-image: url(../img/close.png);
    width: 50px;
    height: 50px;
}
.offcanvas-body {
    padding: 50px 40px;
}
.offcanvas-body .logo_ut {
    width: 100%;
    margin-bottom: 30px;
}
.offcanvas-body .logo_ut img {
    width: 200px;
}
.offcanvas-body .canva_menu {
    width: 100%;
    margin-bottom: 30px;
}
.offcanvas-body .canva_menu .navi {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.offcanvas-body .canva_menu .navi .item_navi {
    width: 70%;
    font-size: 17px;
    font-weight: 500;
    color: var(--color_3);
    border-bottom: 3px solid var(--color_2);
    margin-bottom: 5px;
    transition: 0.5s;
}
.offcanvas-body .canva_menu .navi .item_navi:hover {
    width: 100%;
    border-bottom: 3px solid var(--color_1);
    color: var(--color_text);

}
.offcanvas-body .bot_canva {
    width: 100%;
}
.offcanvas-body .bot_canva a {
    width: 100%;
    padding: 20px;
    background-color: var(--color_4);
    color: var(--color_3);
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
    border-bottom: 3px solid var(--color_1);
}
.offcanvas-body .bot_canva a:hover {
    background-color: var(--color_text);
}
    .bot_canva a i {
        font-size: 40px;
    }
    .bot_canva a .text_bot_canva .text_bot_{
        font-size: 13px;
    }
    .bot_canva a .text_bot_canva .number_supp {
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 0;
    }

/* -------------COLLAPSE-------------------- */
.collap_mod {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    padding: 0px 20px;
    display: fl;
}
.collapse {
    width: 100%;
}
.card {
    background-color: transparent;
    border: 0;
}
.card .main_search {
    width: 100%;
}
    .main_search form {
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
    }
    .main_search form input[type="search"]{
        width: 100%;
        padding: 20px;
        font-size: 13px;
        border: 1px solid var(--color_5);
        color: var(--color_text);
    }
    .main_search form input[type="search"]::placeholder {
        font-size: 13px;
        color: var(--color_text);
    }
    .main_search .btn_coll .btn_bus {
        background-color: var(--color_1);
        color: var(--color_3);
    }
        .btn_coll .btn_bus {
            background-color: var(--color_1);
            color: var(--color_3);
            transition: 0.3s;
        }
        .btn_coll:hover .btn_bus {
            background-color: var(--color_3);
            color: var(--color_4);
            border: 1px solid var(--color_4);
        }
        .btn_coll:hover span {
            background-color: var(--color_1);
        }

/* ------------------LOGIN --------------- */
.login_home {
    width: 100%;
    padding: 100px 20px;
}
.login_home .content_login {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 60px 40px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.content_login .head_login {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.content_login .head_login .title_login {
    font-size: 40px;
    font-weight: 700;
    color: var(--color_2);
}
.content_login .head_login .paragraph_login {
    font-size: 15px;
    color: var(--color_text);
}
.content_login .form_login {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
    .form_login .camp_form {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .form_login .camp_form i {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color_5);
        color: var(--color_text );
    }
    .form_login .camp_form input[type="text"] {
        width: 100%;
        height: 50px;
        border: 1px solid var(--color_5);
        padding: 0px 20px;
    }
    .form_login .camp_form input[type="password"] {
        width: 100%;
        height: 50px;
        border: 1px solid var(--color_5);
        padding: 0px 20px;
    }
    .form_login .camp_check {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
        .camp_check .form-check .form-check-input {
            border-radius: 0;
            box-shadow: none;
        }
        .camp_check .pass_lock {
            font-size: 13px;
            font-weight: 600;
            color: var(--color_1);
            text-decoration: underline;
        }
    .form_login .bot_form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 15px
    }
    .form_login .bot_form .btn_sesion {
        font-size: 15px;
        font-weight: 600;
        padding: 20px 0px;
        background-color: var(--color_1);
        color: var(--color_3);
        transition: 0.3s;
    }
    .form_login .bot_form .btn_sesion:hover {
        background-color: var(--color_text);
    }
    .form_login .bot_form .btn_create {
        font-size: 15px;
        font-weight: 600;
        padding: 20px 0px;
        background-color: var(--color_4);
        color: var(--color_3);
        transition: 0.3s;
    }
    .form_login .bot_form .btn_create:hover {
        background-color: var(--color_text);
    }

/* ------------------------LOCATION---------------------------- */
.location {
    width: 100%;
}
.location .content_location {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    padding: 100px 0px;
}
.content_location .head_location {
    margin: 50px 0px;
}
.content_location .head_location .title_location {
    font-size: 40px;
    font-weight: 700;
    color: var(--color_2);
}
.content_location .row_locations {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
    .row_locations .list_loc {
        display: grid;
        grid-template-columns: 1fr;
        border-bottom: 1px solid var(--color_5);
        border-right: 1px solid var(--color_5);
        border-left: 1px solid var(--color_5);
    }
    .row_locations .list_loc .item_loc {
        width: 100%;
    }
        .list_loc .item_loc .title_loc {
            width: 100%;
            font-size: 20px;
            font-weight: 700;
            background-color: var(--color_1);
            padding: 10px 15px;
            color: var(--color_3);
        }
        .list_loc .item_loc .title_loc i {
            margin-right: 10px;
        }
        .row_locations .list_loc .bot_loc {
            width: 100%;
            padding: 15px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .list_loc .bot_loc .descrip_loc {
            font-size: 15px;
            padding: px 0px;
            color: var(--color_text);
        }
        .list_loc .bot_loc .descrip_loc .title_item {
            font-size: 17px;
            font-weight: 700;
            color: var(--color_2);
            margin-right: 5px;
        }
        .list_loc .item_loc .descrip_loc_bold {
            font-size: 16px;
            font-weight: 600;
            padding: 5px 15px;
            color: var(--color_2);
        }
    .list_info .item_col .descrip_loc_bold {
        font-size: 14px;
        font-weight: 600;
        padding: 5px 15px;
        color: var(--color_2);
    }
    